@import url('https://fonts.googleapis.com/css2?family=Poppins&display=swap');

* {
font-family: 'Poppins', sans-serif;
 margin: 0;
 padding: 0;
}

body {
  background: url("./assets/bg.png");
  background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    background-attachment: fixed;"
}

h1 {
  color: #eaeaea;
}

i {
  color: #eaeaea;
}

nav {
  background-color: rgba(45, 50, 55, 0.6);
  backdrop-filter: blur(8px);
}

.home-content {
  margin: 50px;
}

.home-content i {
  color: #eaeaea;
  font-weight: bold;
  font-size: 35px;
}
/* img { */
/*   opacity: 1.0; */
/* } */
